.m-b-md {
    margin-bottom: 35px;
}
.table>tbody>tr>td, th {
    vertical-align: middle;
    text-align: center;
}
a.btn {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
}
a span strong {
    font-size: 19px;
}
ul {
    padding: 0;
}
li {
    list-style-type:none
}
ul li {
    display: inline;
}
td ul li a {
    min-width: 100px !important;
}
strong {
    font-size: 15px;
}
strong span {
    margin-left: 4px;
}
*:focus {
    outline: none;
}

